@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@200;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

$bg-color: #023047;
$title-color: #fb8500;
$title-color2: #fd9e02;
$lighter-color: #8ecae6;
$lighter-color2: #87c2dd;
$lighter-color3: #67a6c4;
$text-color: black;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Serif", sans-serif;
    line-height: 1.6;
    font-size: 1.25rem;
    background-color: $bg-color;
    color: $text-color;
}

.main-title {
    width: 90%;
    max-width: 600px;
    margin: auto;
    color: $title-color;
    text-shadow: 2px 2px 4px black;
}
.main-title-h2 {
    letter-spacing: 0.2rem;
    font-weight: 800;
    text-align: center;
    margin: 3rem auto 1.5rem;
    font-size: 3rem;
    line-height: 1.2;

    .cro-title {
        letter-spacing: 0;
        margin-right: 0.25rem;
    }
}

.li-generator-section {
    background-image: radial-gradient($lighter-color2 25%, $lighter-color 25%);
    background-size: 10px 10px;
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 0.25rem;
    border-radius: 0.6rem;
    margin-bottom: 200px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.li-form-containter {
    background-color: rgba(0, 0, 0, 0.2);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem 1.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;

    .li-form {
        width: auto;
    }

    select {
        cursor: pointer;
        display: inline-block;
        margin-right: 1rem;
        padding: 0.625rem 1rem 0.5rem;
        outline: none;
        border: 2px solid $text-color;
        border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
            rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
            rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        background: $lighter-color;
        font-size: 0.875rem;
        font-weight: 700;
        font-style: normal;
        font-family: "Montserrat", sans-serif;
        line-height: 1.3;
        letter-spacing: 0.075rem;
        text-transform: uppercase;
        appearance: none;
    }

    .number-input {
        width: 4rem;
        display: inline-block;
        margin-right: 1rem;
        padding: 0.625rem 1rem 0.5rem;
        outline: none;
        border: 2px solid $text-color;
        border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
            rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
            rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        background: $lighter-color;
        font-size: 0.875rem;
        font-weight: 700;
        font-style: normal;
        font-family: "Montserrat", sans-serif;
        line-height: 1.3;
        letter-spacing: 0.075rem;
        appearance: none;
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            appearance: none;
        }
    }

    .li-generate-button {
        cursor: pointer;
        display: inline-block;
        padding: 0.625rem 1rem 0.5rem;
        outline: none;
        border: 2px solid $text-color;
        border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
            rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
            rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        background: $title-color;
        font-size: 0.875rem;
        font-weight: 700;
        font-style: normal;
        font-family: "Montserrat", sans-serif;
        line-height: 1.3;
        letter-spacing: 0.075rem;
        text-transform: uppercase;
        appearance: none;
        transition: all 0.1s ease-in-out;

        &:hover {
            background-color: $title-color2;
        }
        &:active {
            transform: scale(0.95);
            background: $title-color;
        }
    }

    .li-copy-button {
        cursor: pointer;
        display: inline-block;
        padding: 0.57rem 1rem 0.5rem;
        outline: none;
        border: 2px solid $text-color;
        border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
            rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
            rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        background: $title-color;
        font-size: 0.875rem;
        font-weight: 700;
        font-style: normal;
        font-family: "Montserrat", sans-serif;
        line-height: 1.3;
        letter-spacing: 0.075rem;
        text-transform: uppercase;
        appearance: none;
        transition: all 0.1s ease-in-out;

        .li-copy-button-text,
        img {
            vertical-align: middle;
            display: inline-block;
        }

        img {
            height: 1.125rem;
        }

        &:hover {
            background-color: $title-color2;
        }

        &:active {
            transform: scale(0.95);
            background: $title-color;
        }
    }
}

.li-text {
    padding: 1rem;

    &.copy-is-active {
        animation: FadeText 1200ms;
    }

    p {
        margin-bottom: 1rem;
    }
}

// ANIMACIJE
@keyframes FadeText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// SCROLLBAR

::-webkit-scrollbar {
    width: 0.6rem;
}
::-webkit-scrollbar-track {
    background: $bg-color;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(
        150deg,
        $lighter-color 0%,
        $lighter-color2 100%
    );
    border-radius: 100vw;
    border: solid 2px $bg-color;
}
::-webkit-scrollbar-thumb:hover {
    border: none;
}
// fali firefox

// OZNAČAVANJE SLOVA
::selection {
    background-color: $title-color;
    color: white;
}

// RESPONSIVE

@media only screen and (max-width: 720px) {
    .li-form-containter {
        flex-wrap: wrap;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .li-copy-button {
        flex: 0 1 100%;
        order: 1;
        width: 100%;
    }
    .li-form {
        margin-top: 0.5rem;
        display: flex;
        flex: 0 1 100%;
        order: 2;
        width: 100%;
        justify-content: space-between;

        select {
            padding: 0.625rem 0.5rem 0.5rem;
            margin-right: 0.5rem;
            font-size: 0.625rem;
        }
        .number-input {
            width: 2.625rem;
            padding: 0.625rem 0.5rem 0.5rem;
            margin-right: 0.5rem;
            font-size: 0.625rem;
        }
        .li-generate-button {
            padding: 0.625rem 0.5rem 0.5rem;
            font-size: 0.625rem;
        }
    }
    .li-text {
        padding: 0.5rem;
        font-size: 0.75rem;
    }
}
